@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat');
body
{
	font-family: 'Montserrat';
	background-color: grey;
	color: white;
	margin: 0px;
}

.bordered-element, .rssincl-title
{
	clear: right;
	display: block;
	text-align: center;
	padding: 20px;
	margin: auto;
	border: 1px solid white;
}

.socialMedia
{
	max-width: 64px;
	min-width: 16px;
}

.image-content-1
{
	position: static;
	display: flex;
	background-image: url('img/aebg.jpg');
	height: 100vh;
    text-shadow: 2px 2px rgb(60,60,60);
}
.menu-item
{
	width: 300px;
	height: auto;
	padding:10px;
	margin: 10px;
	float: left;
}

.menu-content
{
	position: static;
	display: flex;
	background-color: rgb(20,20,20);
	padding: 40px;
}
.blog-content
{
	position: static;
	display: block;
	background-color: rgb(70,70,70);
	padding: 40px;
}
.rssincl-content
{padding-right:200px;
padding-left:200px;}
a
{
	color: rgb(180,180,255);
}
h1, h2, h3, .rssincl-title, .rssincl-itemtitle{
	color: white;
	font-family: 'Bungee', cursive;
}
.rssincl-title, h3, .rssincl-itemtitle
{font-size: 1.2em}

h1{
	font-size: 3.5em;

}

h2{
	font-size: 2em;
}

p, h4{
	color: white;
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px)
{
	.menu-item
{
	width: 200px;
	height: 200px;
}

	.rssincl-content
{padding-right:10px;
padding-left:10px;}
	.bordered-element
{
	display: block;
	text-align: center;
	padding: 20px;
	margin: auto;
	border: 1px solid white;
}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1em;
	}

}
