body {
	background-color: #000010;
	color: #FFFFCC;
	font-family: Verdana, sans-serif;
}

a:visited {
	color: #AAAAFF;
}


a {
	color: #AAAAFF;
}

a:hover {
	color: #AAAACC;
}

.banner {
	display: flex;
	flex-direction: column;
	background-color: #101020;
}

.logocontainer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}
.menubar {
	display: flex;
	flex-direction: row;
  }

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: auto;
	padding-top 5px;
	padding-bottom: 5px;
}
@media only screen and (max-width: 768px) {
	.banner {
		flex-direction: row;
		padding: 0px;

	}
	.logo {
		width: 80%;
		padding-top: 20px;
	}

	.menubar {
		flex-direction: column;
		width:50%;
	}
	.logocontainer{
		padding: 10px;
		margin-bottom: auto;
	}
  }
.menuitem {
	background-color: #252535;
	padding: 10px;
	flex-grow: 1;
	color: #CCCC99;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	text-decoration: none;


}

.selected {
	border: 1px solid white;
}

.menuitem:hover {
	background-color: #303040

}

.menuitem:visited {
	color: #CCCC99;
}

article {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.menu {
	background-color: #202030;

}
