@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat');
body
{
	font-family: 'Montserrat';
	background-color: grey;
	color: white;
	margin: 0px;
}

.bordered-element
{
	clear: right;
	display: block;
	text-align: center;
	padding: 20px;
	margin: auto;
	border: 1px solid white;
}

.image-content-1
{
    text-shadow: 1px 1px black;
	position: static;
	display: flex;
	background-image: url('img/gamebg.jpg');
	height: 100vh;

}

.about-content
{
	text-align: center;
	position: static;
	display: block;
	background-color: rgb(60,80,60);
	padding: 40px;
}

.privacy-policy
{
	min-height: 100vh;
	position: static;
	display: block;
	background-color: rgb(80,100,80);
	padding: 40px;
}

a
{
	color: rgb(180,180,255);
}
h1, h2, h3 {
	color: white;
	font-family: 'Bungee', cursive;
}
h3
{font-size: 1.2em}

h1{
	font-size: 3.5em;

}

h2{
	font-size: 2em;
}

p, h4{
	color: white;
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px)
{
	.bordered-element
{
	display: block;
	text-align: center;
	padding: 20px;
	margin: auto;
	border: 1px solid white;
}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1em;
	}

}